/* RESET
-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea {
    border: 2px solid #fff;
    border-radius: 5px;
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 15px 5px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #2c3e50;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #579add;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    /* para imagem ficar oda dentro do box*/
}


/* GERAL
-----------------------------------------*/

.padrao {
    width: 100%;
    float: left;
}

.centralizacao {
    width: 960px;
    margin: 0 auto;
}


/* HEADER
-----------------------------------------*/

.header {
    padding: 30px 0;
}

.header-logo {
    float: left;
    position: relative;
}

.header-logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background: #fff;
    top: -30px;
    left: 0;
}

.header-logo::before {
    content: "";
    position: absolute;
    width: 37%;
    height: 24px;
    background: #579add;
    top: -30px;
    right: 0;
    z-index: 2;
}

.header-logo h1 a {
    font-size: 56px;
    color: #fff
}

.header-logo h1 a span {
    color: #579add;
}

.header-menu {
    float: right;
    padding: 6px 0;
    text-align: right;
}

.header-menu p {
    color: #579add;
    margin-bottom: 5px;
}

.header-menu ul li {
    display: inline-block;
    margin-left: 13px
}


/* DESTAQUE
---------------------------------------------------------*/

.destaque {
    font-size: 26px;
    text-align: center;
    margin: 10px 0 50px 0;
}

.destaque h1 {
    font-size: 50px;
    font-weight: normal;
    color: #579add;
    margin-bottom: 10px;
}

.destaque p {
    margin-bottom: 20px;
}

.destaque p a {
    font-size: 18px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
}


/* TECNOLOGIAS
----------------------------------------------------*/

.tecnologias {
    background: #fff;
    padding: 40px 0;
}

.tecnologias-titulo {
    color: #579add;
    font-size: 22px;
    border-bottom: 4px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.tecnologias-titulo span {
    border-bottom: 4px solid #579add;
    padding-bottom: 10px;
}

.tecnologias-col {
    float: left;
    width: 30.66%;
    margin-right: 4%;
}

.tecnologias-col:last-child {
    margin-right: 0%;
}


/* efeito na imagem */

.tecnologias-col:hover .cover img {
    transform: scale(1.2);
}

.tecnologias-col .cover {
    height: 204px;
}

.tecnologias-col .cover img {
    transition: all .05s ease;
}


/* fim efeito na imagem */

.tecnologias-col h2 {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
}

.tecnologias-col a {
    color: #999;
}

.tecnologias-col a :hover {
    color: #579add;
}


/* CONTATO
**************************************************************/

.contato {
    padding: 100px 0;
    background: #2c3e50;
}

.contato h1 {
    text-align: center;
    padding: 50px;
}

.contato-col {
    text-align: center;
    margin-bottom: 20px;
}

.contato-col {
    width: 48%;
    float: left;
}

.contato-col:nth-child(2) {
    float: right;
}

.contato-col label {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.contato-col label span {
    float: left;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.contato-col label input,
.contato-col textarea {
    float: left;
    width: 100%;
}

.contato-col textarea {
    height: 154px;
}

.contato p {
    float: left;
    width: 100%;
    text-align: right;
}

.contato p input {
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    color: white;
    background: #2c3e50;
    margin-bottom: 15px;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.contato p input:hover {
    background: #020a11;
}


/* Roda pé 
********************************************************/

.roda-pe {
    text-align: center;
}